html {
    background: #181818;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
    padding: 40px;
    border-top: 10px solid #0b5a00;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    border-bottom: 3px solid #ccc;
}

.blog-post {
    border-top: 3px solid #ccc;
}

.blog-post-text {
    display: flex;
}

.about-me {
    border-top: 3px solid #ccc;
}

.contact-me {
    border-top: 3px solid #ccc;
}